/adminAccess.jsp
/createAccount.jsp
/createBuilding.jsp
/createRoom.jsp
/createVendor.jsp
/createWing.jsp
/home.jsp
/loginForm.jsp
/manualAddProject.jsp
/manualContactAdmin.jsp
/manualImportImages.jsp
/manualViewProject.jsp
/reviewContractor.jsp
/reviewVendor.jsp
/secure.jsp
/updatePassword.jsp
/updateProject.jsp
/viewProjectStatus.jsp
